a:hover {
    .fa-facebook {
        color: #3b5998;
    }

    .fa-twitter {
        color: #00aced;
    }

    .fa-instagram {
        color: #c7245e;
    }
}

.text-black {
    color: #000 !important;
}
